* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
}

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
}
.nav-logo {
  height: 50px;
  width: 100px;
  padding: 1px 8px 0px 6px;
}
.logo {
  height: 50px;
  width: 100%;
  background-image: url("Amazon-logo.jpg");
  background-size: cover;
}
.border {
  border: 1px solid transparent;
}
.border:hover {
  border: 1px solid white;
}

/* Adress section */
.add-1 {
  color: #cccccc;
  font-size: 12px;
}
.add-2 {
  padding-top: 2px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  display: inline;
}
.add-icon {
  padding-top: 7px;
}
.nav-address {
  padding: 0px 9px;
  margin: 10px 2px 5px 0px;
}

/* Search bar */
.search-bar {
  width: 898px;
  height: 60px;
  display: flex;
  align-items: center;
  border: none;
}
.all {
  width: 51px;
  height: 40px;
  background-color: #f1f2f2;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
  text-align: center;
}
.in-search {
  width: 100%;
  height: 38px;
  font-size: 15px;
  border: none;
}
.search-bar i {
  width: 45px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #ff8d02;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* Langauge box */
.english {
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  justify-content: space-evenly;
}
.flag {
  width: 21px;
  height: 16px;
  background-image: url("flag.png");
  background-size: cover;
}
.en {
  background-color: #0f1111;
  color: white;
  font-weight: 600;
}
/* Account */
.account {
  width: 130px;
  height: 50px;
  padding: 10px;
 
}
.account p {
  font-size: 12px;
}
.account select {
  font-size: 14px;
  font-weight: 600;
  background-color: #0f1111;
  color: white;
}
.order{
    width: 75px;
    height: 50px;
    padding-top: 15px;
    padding-left: 10px;
}
.order p{
    font-size: 12px;

}
.order span{
    font-size: 14px;
    font-weight: 600;
}
.cart{
    width: 84px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart i{
   font-size: 20px;
   padding-right: 5px;
}

/* Small navbar */
.small-navbar{
    width: 100%;
    height: 39px;
    background-color: #232f3e;
    display: flex;
    align-items: center;
    color: white;
}
.small-navbar p{
    padding-right: 20px;
}
.all-sn{
    display: flex;
    padding-left: 20px;
}
.all-sn i{
    padding-right: 6px ;
}


/* Hero section start */
.hero-section{
  height: 600px;
  background-image: url("hero1.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  z-index: 1;

}

.hero-msg{
  width: 95%;
  background-color: white;
  height: 40px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}
/* Box section  */
.box-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: transparent;
  margin-top: -15%;
  z-index: 2;
}
.box{
  width: 340px;
  height: 400px;
  background-color: white;
  padding: 15px 0px 0px 15px;
  border: 1px solid black;
  margin-top: 20px;
  /* margin-left: 1.7rem; */
}

.box1 h2{
  margin-left: 1.1rem;
  padding-bottom:1rem ;
}
.b-img{
  width: 90%;
  height: 80%;
  background-color: red;
  margin-left: 0.6rem;
  background-size: cover;
  display: block;
}
.box1 a{
  text-decoration: none;
  color: black;
  margin-left: 17px;
  margin-top: 0.6rem;
  display: block;
  color: rgb(31, 0, 142);
  
}

.back{
  width: 100%;
  height: 50px;
  background-color: #465858;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#f1f2f2;
}
.footer {
  width: 100%;
  height: 600px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.content-1{
  /* padding-top: 7rem; */
  margin-top: 100px;
  color: white;
  line-height:30px;
}



